<navigation></navigation>

<div ng-controller="DisplayController as vm">
 
<p>
    <div class="col justify-content-md-center mb-3">

<div class="card border-primary mb-3 .mx-auto" style="width: 75%">
       <div class="card-header">
       </div>
                    <div class="card-body">
                      <h5 class="card-title">{{vm.blog.blog_title}}</h5>
                      <p class="card-text">{{vm.blog.blog_text}}</p>
		      <p><small>Published by {{vm.blog.name}} on {{vm.blog.createdOn}}</small></p> 
                    </div>
                    <div class="card-footer">
                        <div class = "col-sm">
                           <ul class="nav justify-content-end nav-pills card-header-pills">
                           <li class="nav-item" ng-if="vm.isLoggedIn()"> 
                             <a ng-show="vm.currentUser().email == vm.blog.email" class="nav-link" href="#/blogEdit/{{vm.blog._id}}"><i class="fa fa-edit"></i></a>
                           </li>
                           <li class="nav-item" ng-if="vm.isLoggedIn()">
                             <a ng-show="vm.currentUser().email == vm.blog.email" class="nav-link" href="#/blogDelete/{{vm.blog._id}}"><i class="fa fa-trash"></i></a>
                           </li>
                       </ul>
                    </div>
                </div>

</div>

<h2>Comments:</h2>

<div class="card mt-3 border-white .mx-auto" style="width: 66%">
    <form  name="userForm" ng-submit="vm.submit()" ng-controller="DisplayController" style="padding: 20px">
      <div class="form-group">
          <textarea class="form-control" id="text" rows="3" name="comment" placeholder="Write your comment here"></textarea>
      </div>
	<div class="justify-content-end">
          <input type="submit" class="btn btn-primary" value="Post">
	</div>
    </form>
</div>


<p></p>
<div ng-repeat="comment in vm.comments">

<div class="card border-light mb-3 .mx-auto" style="width: 66%">
      <div class="card-header"> {{comment.name}} </div>
   <div class="card-body">
      <blockquote class="blockquote mb-0">
      <p>{{comment.comment_text}}</p>
      <div class = "card-fotter">
	<div class = "col-sm">
	   <footer class="blockquote-footer">May 5th <cite title="Source Title">Source Title</cite></footer>
	   <ul class="nav justify-content-end nav-pills card-header-pills">
	      <li class="nav-item" ng-if="vm.isLoggedIn()"> 
                 <a class="nav-link" href="#/blogEdit/{{blogs._id}}"><i class="fa fa-edit"></i></a>
	      </li>
	      <li class="nav-item" ng-if="vm.isLoggedIn()">
                 <a class="nav-link" href="#/blogDelete/{{blogs._id}}"><i class="fa fa-trash"></i></a>
              </li>
	   </ul>
	</div>
      </div>
      </blockquote>
   </div>
</div>

<div class="card border-light mb-3 .mx-auto" style="width: 66%">
      <div class="card-header"> {{comment.name}} </div>
   <div class="card-body">
      <blockquote class="blockquote mb-0">
      <p>{{comment.comment_text}}</p>
      <div class = "card-fotter">
	<div class = "col-sm">
	   <footer class="blockquote-footer">May 5th <cite title="Source Title">Source Title</cite></footer>
	   <ul class="nav justify-content-end nav-pills card-header-pills">
	      <li class="nav-item" ng-if="vm.isLoggedIn()"> 
                 <a class="nav-link" href="#/blogEdit/{{blogs._id}}"><i class="fa fa-edit"></i></a>
	      </li>
	      <li class="nav-item" ng-if="vm.isLoggedIn()">
                 <a class="nav-link" href="#/blogDelete/{{blogs._id}}"><i class="fa fa-trash"></i></a>
              </li>
	   </ul>
	</div>
      </div>
      </blockquote>
   </div>
</div>


</div>

</div>
</div>
</p>
